<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="GitMonitor" Description="StyleCop rules" ToolsVersion="16.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="CA1822" Action="None" /> <!-- Static on methods not using the instance -->
    <Rule Id="SA1101" Action="None" /> <!-- Prefix local calls with this -->
    <Rule Id="SA1633" Action="None" /> <!-- A C# code file is missing a standard file header -->
  </Rules>
</RuleSet>
