.badge {
    transition: none;
}

.file-diff-header,
.change-header,
.errors-header,
.option-button {
    cursor: pointer;
}

.change .list-group-item-text {
    margin: 0;
}

.change-details > li > pre {
    display: inline-flex;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 3px;
    vertical-align: top;
}

.filter-name {
    text-align: right;
}

.filter-option-button {
    margin: 0 2px;
}
