.change-details > li > pre {
    display: inline-flex;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 3px;
    vertical-align: top;
    white-space: pre-wrap;
    word-break: break-word;
}
